.navigation {
  position: relative;
  padding: 50px 0;
}

.navbar-light .navbar-nav .nav-link {
  color: $text-color-dark;
  text-transform: capitalize;
  font-size: 18px;

  &:hover {
    color: $primary-color;
  }
}

.navbar-expand-lg .navbar-nav {
  .nav-item {
    margin: 0;

    .nav-link {
      padding: 15px 20px !important;
    }
  }

  .dropdown-menu {
    background-color: $body-color;
    padding: 10px 0;
    margin: 0;
    border-radius: 0;
    border-color: $border-color;
    text-align: center;

    .dropdown-item {
      color: $text-color;
      font-size: 14px;
      padding: 7px 22px;

      &:hover {
        color: $primary-color;
      }
    }
  }
}


/* search */
.search-btn {
  border: 0;
  background: transparent;
}

.search-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  z-index: 2;
  visibility: hidden;
  transition: .2s ease;
  opacity: 0;

  &.open {
    visibility: visible;
    opacity: 1;
  }
}

.search-box {
  height: 100%;
  width: 100%;
  border: 0;
  background: $white;
  font-size: 20px;
  padding: 0;

  &:focus {
    box-shadow: none !important;
    outline: 0;
  }
}

.search-close {
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
  border: 0;
  background: transparent;
  page-break-after: 10px;
  font-size: 20px;
}

.navigation-modal {
  height: 100vh;
  width: 100vw;
  background: $body-color;
}