/*  typography */

@font-face {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 400;
  src:
    local(''),
    url('../fonts/playfair-display-v25-latin-regular.woff2') format('woff2'),
    url('../fonts/playfair-display-v25-latin-regular.woff') format('woff');
}

body {
  line-height: 1.2;
  font-family: $primary-font;
  -webkit-font-smoothing: antialiased;
  font-size: 16px;
  color: $text-color;
}

p, .paragraph {
  font-weight: 400;
  color: $text-color;
  font-size: 16px;
  line-height: 1.7;
  font-family: $primary-font;
}

h1,h2,h3,h4,h5,h6 {
  color: $text-color-dark;
  font-family: $primary-font;
  font-weight: 500;
  line-height: 1.2;
}

h1, .h1{
  font-size: 36px;
}

h2, .h2{
  font-size: 24px;
}

h3, .h3{
  font-size: 20px;
}

h4, .h4{
  font-size: 18px;
}

h5, .h5{
  font-size: 16px;
}

h6, .h6{
  font-size: 14px;
}
